/* SmartPhone */
@media (max-width: 480px){
  *{
    margin: 0;
    padding: 0;
    font-family: fantasy;
  }
body{
    background-attachment: fixed;
    background-image: url(img/aniges.jpg);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: contain;
    background-repeat: no-repeat;
  }

  header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 20;
  }
  .pc-menu{
    display: none;
  }
  .sp-menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .sp-menu h1{
    color: white;
    font-size: 20px;
    margin-left: 20px;
    line-height: 60px;
  }
  .sp-menu #open {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
    color: white;
  }
  .spmenu #open.hide {
    display: none;
  }
  .overlay {
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: black;
    text-align: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
    z-index: 21;
  }
  .overlay.show {
    opacity: .8;
    pointer-events: auto;
  }
  .overlay #close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 30px;
    cursor: pointer;
    color: white;
  }
  .overlay ul {
    list-style: none;
    margin: 20px;
    margin-right: 50px;
  }
  .overlay li {
    margin: 10px;
    opacity: 0;
    transform: translate(16px);
    transition:  opacity .3s transform .3s;
  }
  .overlay li a{
    color: white;
  }
  .overlay.show li {
    opacity: 1;
    transform: none;
  }

  .home{
    width: 100%;
    height: 100px;
    padding-top: 100px;
  }
  .since2{
    margin: auto;
    text-align: center;
    font-size: 40px;
  }
  .since2 span{
    margin: 2px;
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
  }
  .since2 span.fade{
    opacity: 1;
    transform: translateY(0px);
  }
  .border{
    display: none;
  }
  .home img{
    display: none;
  }

  .img{
    height: 300px;
  }
  .img p{
    text-align: center;
    font-size: 30px;
    margin: 0;
  }
  .and{
    color: red;
  }
  .couple img{
    position: absolute;
    top: 40%;
    display: none;
    width: 22%;
    border-radius: 16px;
  }
  .shunpei{
    /* display: none; */
    left: 10%;
  }
  .natsuki{
    /* display: none; */
    right: 10%;
  }
  .nbtn{
    display: none;
  }
  .sp-intro{
    opacity: 1;
    transform: translateY(20px);
    animation: popup 3s ease;
  }
  @keyframes popup {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
  }

  .about{
    height: 400px;
    opacity: 0;
    padding: 50px;
    transform: translateY(100px);
    transition: 2s all ease-in-out;
    background-color: #fff;
  }
  .intro-appear{
    opacity: 1;
    transform: translateY(0px);
  }
  .about h1{
    text-align: center;
    font-size: 30px;
  }
  .about a{
    font-size: 10px;
  }
  .about h1 a:hover{
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
  }

  .movie{
    color: white;
  }
  .movie h1{
    font-size: 30px;
    text-align: center;
    color: black;
  }
  .movie h1 span{
    color: red;
  }
  .movies div{
    width: 92%;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0, .7);
  }
  .movie img{
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .photo{
    height: 100vh;
    width: 100%;
    margin-top: 50px;
    box-sizing: border-box;
    background-color: black;
    padding: 10px;
  }
  .photo h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  .slide-photo{
    width: 300px;
    margin: auto;
    overflow: hidden;
  }
  .slide-image{
    display: flex;
    width: 300px;
    height: 300px;
  }
  .slide-image img{
    width: 300px;
    object-fit: contain;
    display: block;
  }
  .slide-image span:hover{
    cursor: pointer;
  }
  #prevBtn{
    font-size: 50px;
    color: white;
    cursor: pointer;
    text-align: left;
    user-select: none;
  }
  #nextBtn{
    font-size: 50px;
    color: white;
    cursor: pointer;
    float: right;
    user-select: none;
  }

  footer{
    height: 30%;
    width: 100%;
    border-top: 1px solid white; 
    background-color: black;
    color: white;
    margin-bottom: 0;
  }
  footer p{
    margin-left: 3%;
  }
}

/* PC */
@media (min-width: 481px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
  }

  html{
    width: 100%;
    background-attachment: fixed;
    background-image: url(img/himawari-min.jpeg);
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    background-size: cover;
  }

  header{
    width: 100%;
    height: 13%;
    margin: auto;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    z-index: 20;
  }
  .sp-menu{
    display: none;
  }
  .overlay{
    display: none;
  }
  .pc-menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
  }
  .pc-menu li{
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .pc-menu li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    color: white;
  }
  .pc-menu li a:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
  }

  .home{
    width: 100%;
    height: 100vh;
  }

  .since{
    position: absolute;
    left: 20%;
    top: 30%;
    font-size: 100px;
    z-index: 2;
  }
  .since2{
    position: absolute;
    right: 25%;
    bottom: 32%;
    font-size: 90px;
    z-index: 2;
  }
  .since2 span{
    opacity: 0;
    transition: all 1s ease;
    transform: translateY(50px);
    display: inline-block;
  }
  .since2 span.fade{
    opacity: 1;
    transform: translateY(0px);
  }
  .border{
    border-bottom: 6px solid rgba(0, 0, 0, 0.8);
    width: 50%;
    position: absolute;
    right: 20%;
    bottom: 30%;
  }
  .home img{
    width: 200px;
    height: 160px;
    object-fit: cover;
    position: absolute;
    border: 2px solid black;
    border-radius: 16px;
    opacity: .8;
    z-index: 1;
    animation: popup 3s;
  }
  @keyframes popup{
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    20% {
      opacity: .1;
    }
    50% {
      opacity: .5;
    }
    95% {
      opacity: .7;
    }
    100% {
      opacity: .8;
    }
  }

  .home img:hover{
    opacity: 1;
    transform: scale(1.2);
    z-index: 2;
  }
  .hanabi{
    left: 16%;
    bottom: 35%;
    transform: rotate(-20deg);
  }
  .univ{
    left: 25%;
    bottom: 30%;
    transform: rotate(-40deg);
    z-index: 1;
  }

  .img{
    height: 100vh;
    width: 90%;
    margin: auto;
  }
  .sp-couple{
    display: none;
  }
  .sp-intro{
    display: none;
  }
  .couple{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .couple div{
    margin-top: 50px;
  }
  .couple img{
    width: 350px;
    height: 450px;
    /* border-radius: 20%; */
    border: 8px solid #000;
  }
  .nbtn{
    margin: 30px auto;
    text-align: center;
    background-color: black;
    opacity: .9;
    width: 200px;
    height: 80px;
    color: white;
  }
  .nbtn:hover{
    opacity: 1;
    transform: scale(1.5);
    cursor: pointer;
  }
  .couple a{
    text-decoration: none;
    line-height: 80px;
    font-size: 30px;
    color: #000;
    font-weight: bold;
  }

  .about{
    height: 100vh;
    opacity: 0;
    padding-top: 120px;
    transform: translateY(40px);
    transition: 2s all ease-in-out;
  }
  .about h1{
    font-size: 70px;
    text-align: center;
  }
  .about h1 a{
    font-size: 16px;
    padding: 10px;
    color: purple;
  }
  .about h1 a:hover{
    font-size: 20px;
    cursor: pointer;
    opacity: 1;
  }
  .about p{
    width: 70%;
    margin: auto;
    padding: 20px;
    text-align: center;
    line-height: 3em;
    font-size: 20px;
    font-weight: bold;
    /* border-radius: 16px; */
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }
  .intro-appear{
    opacity: 1;
    transform: translateY(0px);
  }

  .movie{
    width: 100%;
    height: 150vh;
    margin-bottom: 80px;
    padding-top: 120px;
  }
  .movie h1{
    text-align: center;
    font-size: 70px;
    margin-bottom: 30px;
  }
  .movie h1 span{
    color: purple;
    font-size: 80px;
  }
  .movies{
    font-family: fantasy;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, .9);
    height: 80%;
    width: 80%;
    color: white;
  }
  .movies div{
    width: 25%;
    text-align: center;
    margin: auto 0;
  }
  .movies img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 16px;
    transition: all .5s ease;
  }
  .movies img:hover{
    opacity: .7;
    transform: scale(1.2);
  }

  .photo{
    height: 100vh;
    width: 100%;
    margin: auto;
    /* margin-bottom: 100px; */
    box-sizing: border-box;
    background-color: black;
    padding: 50px;
  }
  .photo h1{
    font-size: 70px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
  .slide-photo{
    width: 700px;
    margin: auto;
    overflow: hidden;
    /* border: 4px solid black; */
  }
  .slide-image{
    display: flex;
    width: 700px;
    height: 500px;
  }
  .slide-image img{
    width: 700px;
    object-fit: contain;
  }
  .slide-image span:hover{
    cursor: pointer;
  }
  #prevBtn{
    font-size: 50px;
    color: white;
    cursor: pointer;
    text-align: left;
    user-select: none;
  }
  #nextBtn{
    font-size: 50px;
    color: white;
    cursor: pointer;
    float: right;
    user-select: none;
  }

  footer{
    height: 30%;
    width: 100%;
    margin: auto;
    border-top: 1px solid white; 
    background-color: black;
    color: white;
  }
  footer p{
    margin-left: 3%;
  }

}